/* ------------------------------------------------------------------ */
/* c. About Section
/* ------------------------------------------------------------------ */

#about {
  background: #2B2B2B;
  padding-top: 96px;
  padding-bottom: 66px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#about a, #about a:visited  { color: #fff; }
#about a:hover, #about a:focus { color: #11ABB0; }

#about h2 {
  font: 22px/30px 'opensans-bold', sans-serif;
  color: #fff;
  margin-bottom: 12px;
}

#about p {
  line-height: 30px;
  color: #7A7A7A;
}

#about .profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  margin-bottom: 20px;
}

#about .main-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about .contact-details {
  width: 100%;
  margin-top: 20px;
  color: #fff;
}

#about .contact-details h2 {
  color: #fff;
}

#about .download {
  width: 100%;
}

#about .download .button {
  margin-top: 6px;
  background: #444;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
}

#about .download .button:hover {
  background: #fff;
  color: #2B2B2B;
}

#about .download .button i {
  margin-right: 15px;
  font-size: 20px;
}

@media only screen and (max-width: 767px) {
 /* About Section
   -------------------------------------------------------------------- */
   #about .profile-pic {
     display: none;
   }
   #about .download .button {
      width: 100%;
      text-align: center;
      padding: 15px 20px;
   }
}
