@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

/* Footer Section */
.footer {
    background-color: #2C3E50;
    color: white;
    padding: 40px 0;
    text-align: center;
    position: relative;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
}

.footer-left,
.footer-center,
.footer-right {
    flex: 1;
    min-width: 200px;
    margin: 10px;
    text-align: left;
}

.footer h3 {
    color: #ffffff;
    margin-bottom: 20px;
    text-align: left;
}

.footer h3 span {
    color: #3498DB;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #3498DB;
}

.footer-company-name {
    margin-top: 20px;
    text-align: left;
}

.footer-center i {
    background-color: #3498DB;
    color: white;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 38px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-center p a {
    color: #3498DB;
    text-decoration: none;
}

.footer-company-about {
    margin-top: 20px;
    font-size: 14px;
    color: #bbbbbb;
}

.footer-icons {
    margin-top: 20px;
}

.footer-icons a {
    margin: 0 10px;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-icons a:hover {
    color: #3498DB;
}
